<div class="container">
    <div class="row">
        <div class="form-wrapper col-xs-12">
            <form name="form" class="row" ng-submit="$ctrl.onSubmit(form)">
                <div class="text-wrapper clearfix" style="background-color: {{ $ctrl.note.color }}">
                    <div class="form-group col-xs-12">
                        <label for="note">Enter note name</label>
                        <input type="text" id="note" class="form-control" placeholder="Note name" ng-model="$ctrl.note.name" required>
                    </div>

                    <div class="form-group col-xs-12">
                        <label for="note">Enter note text</label>
                        <textarea class="form-control" name="text" rows="4" placeholder="Note text..." ng-model="$ctrl.note.text" required></textarea>
                    </div>
                    <span class="note-label">{{ $ctrl.note.label }}</span>
                </div>
                <div class="colors-list col-xs-12">
                    <h4>Select color</h4>
                    <ul class="list-inline">
                        <li ng-repeat="color in $ctrl.colors" ng-click="$ctrl.onSelectColor(color)" style="background-color: {{ color }}" ng-class="{'selected-color': color === $ctrl.selectedColor}"></li>
                    </ul>
                </div>

                <div class="labels-list col-xs-12">
                    <h4>Select priority</h4>
                    <ul class="list-inline">
                        <li ng-repeat="label in $ctrl.labels" ng-click="$ctrl.onSelectLabel(label)" ng-class="{'selected-label': label === $ctrl.selectedLabel}">{{ label }}</li>
                    </ul>
                </div>

                <div class="categories-list form-group col-xs-12 row">
                    <h4>Choose category</h4>
                        <p ng-if="!$ctrl.categories.length">No categories added, <a ui-sref="categories" href="#!/categories">add at least one category</a></p>
                        <ul ng-if="$ctrl.categories.length">
                        <h5>Available categories</h5>
                            <li id="{{ category.id }}" ng-repeat="category in $ctrl.categories">
                                <span ng-click="$ctrl.choseCategory(category)" ng-class="{'selected-category': category.id === $ctrl.selectedCategory[category.id].id}">{{ category.name }}</span>
                                <category-list category="category" note="$ctrl.note" on-choose-item="$ctrl.choseCategory(detail)"></category-list>
                            </li>
                        </ul>
                </div>

                <div class="form-group col-xs-12">
                    <button type="submit" class="btn btn-default">Save note</button>
                    <button type="button" class="btn btn-default" ng-click="$ctrl.goBack()">Cancel</button>
                    <button type="button" class="btn btn-default" ng-if="$ctrl.note.id" ng-click="$ctrl.delete($ctrl.note.id)">Delete note</button>
                </div>
            </form>
            <div class="alert alert-danger" ng-if="$ctrl.error">
                <strong>Error!</strong> Select all options.
            </div>
        </div>
    </div>
</div>
