<div class="row">
    <div class="form-wrapper col-xs-12">
        <h2>Add new category</h2>
        <form name="form" ng-submit="$ctrl.onSubmit(form)">
            <div class="form-group">
                <label for="category">Enter category name</label>
                <input type="text" id="category" name="category" class="form-control" placeholder="Category name" ng-model="$ctrl.category.name" autocomplete="off" required>
            </div>
            <button type="submit" class="btn btn-default">Add to root</button>
        </form>
        <button class="btn btn-default" ng-if="$ctrl.categories.length > 0" ng-click="$ctrl.addToParent()">Add to parent category</button>
        <div class="alert alert-warning" ng-if="$ctrl.pendingAdd">
            <strong>Info!</strong> Choose the parent category.
        </div>
        <button class="btn btn-default reset" ng-if="$ctrl.pendingAdd" ng-click="$ctrl.cancelAddPending()">Reset</button>
    </div>
</div>
