@mixin shadow {
    -webkit-box-shadow: 1px 1px 10px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    1px 1px 10px 0px rgba(50, 50, 50, 0.5);
    box-shadow:         1px 1px 10px 0px rgba(50, 50, 50, 0.5);
}

categories {

    li {
        font-size: 16px;
        margin: 0 20px 15px;
        text-transform: capitalize;

        i {
            cursor: pointer;
        }
    }

    .categories-list {
        margin-bottom: 20px;
    }

    .delete {
        float: right;
    }

}
