<div class="row">
    <div class="col-xs-12">
        <h2 ng-if="!$ctrl.notes.length">Please add Your first note: <a ui-sref="add">add note</a></h2>
        <ul class="list-unstyled">
            <li ng-repeat="note in $ctrl.notes">
                <div class="note-item" style="background-color: {{ note.color }}" ng-click="$ctrl.editNote(note)">
                    <p><span>{{ note.id }}.</span> {{ note.name }}</p>
                    <p>{{ note.text }}</p>
                    <span class="note-item-label">{{ note.label }}</span>
                    <div class="note-item-categories">
                        <ul class="list-unstyled">
                            <li ng-repeat="category in note.categories">{{ category.name }}</li>
                        </ul>
                    </div>
                </div>
                <hr>
            </li>
        </ul>
    </div>
</div>
